@charset "utf-8";
/* CSS Document */
html, body{
	font-family: '微軟正黑體', sans-serif;
	font-size: 100%;
	background:#000;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat; 
	background-size: contain;
}
ul{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -30px;
}
li{
	list-style:none;
}
header{
	width:100%;
	height:50px;
	text-align:right;
}
.menubar {
  margin: 7.5px -15px;
}
.menubar > li > a {
  padding: 10px 20px;
  line-height: 20px;
  display:inline-block;
  float:right;
  height:50px;
}
.menu i {
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
.menu>li>a {
	font-size:20px;
	color:#FFF;
	word-spacing: 2px;
}
.menu>li>a:hover,
.menu>li>a:focus {
	color: #f5c21c;
}
.icon-tableware{
	cursor:pointer;
	width:28px;
	height:auto;
	display:inline-block;
}   
.icon-tableware:hover path{
	fill:#f5c21c;
}
.banner{
	width:100%;
	position:relative;
}
.title{
/*	position:absolute;
	top:7%;
	left:50%;
	margin-left:-27%;
*/

position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

	width:57%;
}
.title-eva{
	display:inline-block;
	width:68%;
}
.title-macau{
	display:inline-block;
	width:32%;
}
.title-second{
	text-align:center;
}
.title-second li{
	font-size:18px;
	color:#5b2115;
	background-color:rgba(245,194,29,0.75);
	border-radius: 30px;
	padding:10px 20px;
	display:inline-block;
	font-weight: bold;
}
.title-second i{
	width:40px;
	font-size:40px;
	display: table;
	color:#f5c21d;
	margin:0 auto;
}
.round-table{
	width:100%;
}
.top_img{
	width:100%;
	height:auto;
	display:inline-block;
}
.top_award{
	max-width:254px;
	position: absolute;
	margin-top:45%;
	left:1%;
	float:left;
}
.award-left{
	width:40%;
	max-width:205px;
	float:left;
	margin-left:10px;
	display:none;
}
.award-right{
	width:40%;
	max-width:205px;
	float:right;
	margin-right:10px;
	display:none;
}
.method{
	width:100%;
	margin:1.5em 0;
	padding:1.5em 0;
	background:url(../images/bg_knife-fork.png), url(../images/bg_chopsticks.png);
	background-repeat: no-repeat;
	background-position:top left, top right;
	text-align:center;
}
.method-title span{
	font-size: 35px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 7px;
	border: 1px solid rgba(131,56,21,0.75);
	padding:5px 15px;
}
.method-title{
	width:auto;
	background:rgba(0,0,0,0.3);
	padding:5px;
	margin:0 auto;
	display:inline-block;
}
.method-titletext{
	width:auto;
	font-size: 23px;
	color: #fff;
	font-weight: bold;
	margin:10px auto;
	display:table;
}
.method-second{
	width:100%;
	position:relative;
	text-align:center;
	margin:1em 0 0 0;
}
.method-second a{
	font-size:25px;
	color:#5b2115;
	background-color:rgba(255,255,255,0.75);
	border-radius: 30px;
	padding:10px 30px;
	display:inline-block;
	font-weight: bold;
}
.method-second i{
	width:40px;
	font-size:40px;
	display: table;
	color:#d6c8c6;
	margin:0 auto;
}
.method-second span{
	width:auto;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	margin:10px auto;
	display:table;
	line-height: 40px;
}
.step{
	width:100%;
	position:relative;
	text-align:center;
	margin:1em 0;
}
.step-round{
	width:25%;  
    height:0;  
    padding-bottom: 25%;
	margin:1.4%;
	background-color:rgba(0,166,81,0.75);
	border-radius: 250px;
	display:inline-block;
	vertical-align: top;
}
.step-round-font{
	font-size: 30px;
	color: #fff;
	font-weight: bolder;
	font-style:italic;
	font-family: Arial, Helvetica, sans-serif;
	margin:45px 0 20px 0;
}
.step-round-text{
	width:90%;
	font-size: 25px;
	color: #fff;
	line-height: 35px;
	display:inline-block;
}
.step-round-text span{
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	display:table;
	margin:20px;
}
.video{
	width:100%;
	background-color:#000;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.travel{
	width:100%;
	padding:3em 0;
	background:url(../images/bg_camera.png), url(../images/bg_compass.png);
	background-repeat: no-repeat;
	background-position:top left, top right;
	text-align:center;
}
.travel-region{
	width:100%;
	padding:1em 0;
}
.travel-region-title{
	width:100%;
	font-size:35px;
	color:#00c35f;
	border-bottom: 2px solid #03c35f;
	text-align:left;
	margin:0 0 0.5em 0;
}
.travel-links{
	width:100%;
	text-align:left;
}
.travel-links a{
	text-align:center;
	width:30%;
	font-size:18px;
	color:#fff;
	background:url(../images/bg-black.jpg);
	background-size: contain;
	border-radius: 25px;
	padding:10px 25px;
	display:inline-block;
	margin:10px;
}
.travel-links a:hover{
	font-size:18px;
	color:#000;
	background: none;
	background-color:#00c35f;
}
footer{
	position: relative;
	height: auto;
	width: 100%;
	padding: 2em 0;
	background-color:#FFF;
	text-align:center;
}
.logo-eva{
	max-width:194px;
	float:right;
	display:inline-block;
}
.logo-macau{
	max-width:264px;
	float:left;
	display:inline-block;
}
.eight-types{
	width:100%;
	background: url(../images/bg_veins.jpg) repeat 0px 0px;
	border-radius: 25px;
	padding:2em 0;
	position: relative;
	opacity: 0.8;
	display:inline-block;
}
.eight-close{
	width:60px;
	float:right;
	margin-right:30px;
}
.eight-close a:hover{
	opacity: 0.8;
}
.eight-container {
	width:85%;
	margin:0 auto;
	padding:50px 0;
}
.eight-linebox {
	width:100%;
	border-bottom: 4px solid #00a651;
	padding-bottom:2em;
	display:inline-block;
}
.eight-photo {
	width:43.5%;
	float:left;
	margin-right:20px;
}
.eight-photo img{
	border-radius: 15px;
}
.eight-text {
	width:100%;
	float:right;
	font-size: 18px;
	line-height: 38px;
	color: #000;
	text-align:left;
}
.eight-text font{
	font-size:40px;
	color:#5d251b;
	font-weight:bold;
}
.eight-text span{
	font-size:30px;
	color:#5d251b;
	font-weight:bold;
	display:table;
	margin:20px 0;
}
.eight-bottom{
	width:100%;
	text-align:center;
	padding:25px 0 0 0;
	display:inline-block;
	font-size:25px;
	font-weight:bold;
	color:#0d6d39;
}
.eight-btn{
	text-align:center;
	padding:25px 0 0 0;
}
.eight-btn a{
	width:auto;
	font-size:30px;
	color:#FFF;
	text-shadow: 5px 5px 10px #000;
	background:url(../images/bg.jpg) no-repeat;
	background-size: cover;
	border-radius: 15px;
	display:inline-block;
	padding:20px 35px;
	margin:0 10px;
}
.eight-btn a:hover{
	opacity: 0.8;
}
.eight-region{
	width:100%;
	border-top: 4px solid #00a651;
	border-bottom: 4px solid #00a651;
	padding:1em 0;
	display:inline-block;
	font-size:25px;
	font-weight:bold;
	color:#0d6d39;
}
.eight-region input{
	font-size:20px;
	color:#fff;
	background-color:#28ab64;
	padding:5px 20px;
	border-radius: 40px;
	outline:none;  
	border:0px;
	margin:5px;
}
.eight-region input:hover{
	background-color:#0d6d39;
}
.eight-data{
	width:100%;
	padding:0.3em 0;
	font-size:20px;
	color:#000;
}
.eight-data input{
	width:350px;
	padding:0.5em 0;
	font-size:20px;
	color:#000;
	padding:5px 20px;
	border-radius: 40px;
	border:0px;
	margin:10px;
}
.eight-end{
	width:100%;
	padding:0.3em 0;
	font-size:35px;
	font-weight: bold;
	color:#0d6d39;
}
.eight-end span{
	font-size:25px;
	font-weight: bold;
	color:#5d251b;
}
.black-screen {
	width:100%;
	height:100%;
	padding:50px 0;
	background-color:rgba(0,0,0,0.6);
	text-align:center;
	position: relative;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    overflow: hidden;
    z-index: 999;
    width: 50px;
    height: 50px;
    border: none;
    text-indent: 100%;
    background: url(../images/top.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
@media(max-width:1350px){
.eight-text font{
	display:table;
	margin: 0 0 20px 0 ;
}
}
@media(max-width:1200px){
.top_award{
	width:22%;
	margin-top:50%;
}
.step-round{
	width:30%; 
    padding-bottom: 30%;
}
}
@media(max-width:1024px){
.step-round-font{
	font-size: 22px;
	margin:30px 0 20px 0;
}
.step-round-text{
	font-size: 19px;
	line-height: 25px;
}
.step-round-text span{
	font-size: 12px;
	line-height: 18px;
	margin:10px;
}
}
@media(max-width:980px){
.travel-links a{
	width:45%;
}
}
@media(max-width:768px){
.title-second li{
	font-size:15px;
}
.title-second i{
	width:25px;
	font-size:25px;
}
.step-round-font{
	font-size: 22px;
	margin:15px 0 10px 0;
}
.travel,
.method{
	background-size:150px auto,150px auto;
}
}
@media(max-width:640px){
#toTop {
    bottom: 10px;
    right: 10px;
}
.title{
	position: absolute;
	float:left;
	top:7%;
	left:0%;
	margin:0 2.5%;
	padding:0 2.5%;
	width:95%;
	display: block;
	clear: both;
}
.clear{
	clear: both;
}
.top_img{
	width:100%;
	height:auto;
	background-color:#000000;
}
.eight-photo{
	width:100%;
	padding:20px 0;
}
.step-round{
	width:70%;  
    padding-bottom: 70%;
	margin:2%;
}
.step-round-font{
	font-size: 30px;
	margin:30px 0 20px 0;
}
.step-round-text{
	width:90%;
	font-size: 20px;
	color: #fff;
	line-height: 25px;
	display:inline-block;
}
.step-round-text span{
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	display:table;
	margin:10px;
}
.method-title span{
	font-size: 25px;
	letter-spacing: 0px;
}
.logo-eva{
	max-width:194px;
	float:none;
}
.logo-macau{
	max-width:264px;
	float:none;
}
.travel-links a{
	width:95%;
}
.top_award{
	position:absolute;
	max-width:100%;
	width:100%;
	margin-bottom:0px;
}
.award-web{
	display: none;
}
.award-left,
.award-right{
	display: block;
	width:30%;
	margin-bottom:15px;
}


}
@media(max-width:480px){
}

/* new */
.award-z-top {z-index:100}
#foods-detail {display:none}
